<ion-popover-view>
    <ion-content>
        <div class="list">
            <div class="item item-divider">
               Torrents
            </div>
            <a class="item item-icon-left" href="#" on-tap="addTorrent();">
                <i class="icon ion-plus-round"></i>
                Add torrent
            </a>
            <div class="item item-divider">
                Tools
            </div>
            <a class="item item-icon-left" href="#" on-tap="changeSettings();">
                <i class="icon ion-android-settings"></i>
                Settings
            </a>
            <a class="item item-icon-left" href="#" on-tap="exitApp();">
                <i class="icon ion-android-exit"></i>
                Exit
            </a>
        </div>
    </ion-content>
</ion-popover-view>
